extends layout

block content
  div.inner
    div.container
      div.hero
      div.row
        for event in data
          div(class="content" id="#{event.event_id}")
            div.content--top
              a(href="event/#{event.event_id}/#{event.slug}")
                img(src=event.image)
            div.content--main
              h2
                =event.short_title
              h3
                a(href="venue/#{event.venue_id}")
                  i.fa.fa-university &nbsp;
                  =event.venue_name + ' '
                span.pull-right
                  i.fa.fa-calendar-o &nbsp;
                  =event.date
              if event.state && event.state.length < 3
                span(class='tag--top-right #{event.state}')
                  =event.state
              a(href=event.seatgeek_url, target="blank", class="event-link")
                if event.eventStatus != 'Sold Out'
                  div.row--link
                    Buy Tickets
                else
                  div.row--link.sold-out
                    =event.eventStatus



